.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 55%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 70%
  &-3
    animation: float1 5.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 18%
  &-4
    animation: float1 7.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 30%
  &-5
    animation: rotation 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 3%

@keyframes rotation
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(359deg)
 
@keyframes float1
  0%
    transform: translateY(70px)

  100%
    transform: translateY(0px)

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: #000

.banner-interno__fondo
  background-image: url("../assets/curso/images/header/interno.svg") !important
  background-repeat: no-repeat 

.cs
  overflow-y: hidden

.titulo-principal__numero 
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: #A3314F

.titulo-principal__numero span, .h4, .h5, .h6 
  font-family: "Roboto", sans-serif
  font-weight: 900
  line-height: 1.2
  color: #fff

.color-text
  color: #790B2F

.cajon
  width: auto
  z-index: 0
  margin-top: 47px

.cajon-1
  width: 950px
  z-index: 1
  margin-top: 47px

.cajon-2
	background-color: #EFF0CF
	&::before
		background-color:  #A3314F

.z-image
  z-index: 0
 
.color-custom
	background-color: #F0F1D8
	&::before
		background-color:  #A3314F

.color-custom-1
	background-color:  #FFF2F5
	&::before
		background-color:  #A3314F

.color-custom-2
  background-color: #A3314F
  box-shadow: 2px 4px 8px #cdcdcd


.color-custom-3
	background-color: #CED371
	&::before
		background-color: #FFF

.color-custom-4
	background-color: #CED371
	&::before
		background-color: #EFF0CF

.color-custom-5
	background-color:  #F4F6DD  
	&::before
		background-color:#A3314F

.color-custom-6
	background-color: #FFF1F4

.color-custom-7
	background-color: #FFB500
	&::before
		background-color:#A3314F

.color-slyder-b
  background-color: #E8E8E8
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  top: 30px


.bg-color-2
  background-image: url("../assets/curso/images/tema2/back_ico_1.svg") !important
  background-repeat: no-repeat 

.bg-color-3
  background-image: url("../assets/curso/images/tema2/back_ico_6.svg") !important
  background-repeat: no-repeat 

.bg-color-4
  background-image: url("../assets/curso/images/tema2/back_ico_7.svg") !important
  background-repeat: no-repeat 

.bg-color-5
  background-image: url("../assets/curso/images/tema2/back_ico_8.svg") !important
  background-repeat: no-repeat 

.bg-color-6
  background-image: url("../assets/curso/images/tema2/back_ico_9.svg") !important
  background-repeat: no-repeat 

.bg-color-7
  background-image: url("../assets/curso/images/tema3/back_ico_1.svg") !important
  background-repeat: no-repeat 
  z-index: 1 !important
  box-shadow: 2px 4px 8px #cdcdcd
 
.bg-color-8
  background-image: url("../assets/curso/images/tema3/back_ico_2.svg") !important
  background-repeat: no-repeat 
  z-index: 1 !important

.bg-color-9
  background-image: url("../assets/curso/images/tema3/back_ico_3.svg") !important
  background-repeat: no-repeat 
  z-index: 1 !important

.bg-color-10
  background-image: url("../assets/curso/images/tema3/back_ico_4.svg") !important
  background-repeat: no-repeat 
  z-index: 1 !important

.bg_grad-01
  background-color: #F0DFE4
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 100%
    margin-left: -24px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-left: -2px !important
  @media (max-width: 390px)
    margin-left: -5px !important


.bg_grad-02
  background-color: #EDDCE1
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 100%
    margin-left: -24px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-left: -2px !important
  @media (max-width: 390px)
    margin-left: -5px !important

.bg_grad-03
  background-color: #E8E8E8
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 100%
    margin-left: -24px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-left: -2px !important
  @media (max-width: 390px)
    margin-left: -5px !important

.tp
  height: 10% !important

.tableContainer  
  height: 10% !important


.aling
  justify-content: center

.m-top
  margin-top: -70px

.m-top-1
  margin-top: -40px

.m-top-2
  margin-top: 20px


.m-left
  left: 50% !important 
  @media (max-width: 992px)
    width: 100%
    margin-left: -434px
  @media (max-width: 768px)
    width: 100%
    margin-left: -134px

.m-right
  right: -40% !important
  @media (max-width: 992px)
    width: 100%
    margin-left: -300px
  @media (max-width: 768px)
    width: 100%
    margin-left: -134px
    
.ps
  justify-content: space-between !important

.ps-1
  justify-content: space-around !important

.jumbotron
  background-color: #E2E2E2  
  width: 700px
  margin-inline-start: -40px
  @media (max-width: 992px)
    width: 100%
    margin-left: -20px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-top: -10px
    margin-left: 6px
    background-repeat: no-repeat
    width: 100% 
  @media (max-width: 390px)
    margin-top: -10px
    background-repeat: no-repeat
    background-size: cover
    width: 100% 


.jumbotron-1
  background-color: #FCFCF5

.jumbotron-2
  background-color: #FFF8E8

.jumbotron-3
  background-color: #E2E2E2
  margin-top: -5px
  z-index: 0 !important

.jumbotron-4
  background-color: #C3C598
                              
.jumbotron-5
  background-color:#F6EBEE

.jumbotron-6
  background-color: #EEEEE0

.jumbotron-7
  background-color:  #E2E2E2

.jumbotron-8
  background-color: #EEF0D7
  width: 680px
  margin-inline-start: -60px
  @media (max-width: 992px)
    width: 100%
    margin-left: -20px
  @media (max-width: 768px)
    width: 100%
    margin-left: 5px
  @media (max-width: 576px)
    width: 100%
    margin-left: 2px
  @media (max-width: 412px)
    margin-top: -10px
    margin-left: 6px
    background-repeat: no-repeat
    width: 100% 
  @media (max-width: 390px)
    margin-top: -10px
    background-repeat: no-repeat
    background-size: cover
    width: 100% 

.jumbotron-9
  background-color: #D6D8B8


.crd_container
  position: relative
  display: flex 
  flex-direction: column  
  align-items: center    
  height: 100%
  
  
  &::before
    content: ""
    position: absolute
    bottom: 0
    width: 100%
    height: calc(100% - 60px)
    border-radius: 25px
    background-color: #F6F6F6  
    transition: all 1s cubic-bezier(0.5, 1, 0.89, 1)
    -webkit-box-shadow: 0px 3px 15px 4px rgba(0,0,0,0.26)
     box-shadow: 0px 3px 15px 4px rgba(0,0,0,0.26)
    
  &:hover
    .crd_container__body
      color: black !important
    &::before
      background-color: #E2E2E2

  &__body
    position: relative
    padding: 0 1.5rem



.jumbotron-10 
  position: relative
  display: flex 
  flex-direction: column  
  align-items: center 


  &::before
    content: ""
    position: absolute
    bottom: 0
    width: 100%
    height: calc(100% - 60px)
    background-size: contain
    background-repeat: no-repeat
    background-image: url("../assets/curso/images/tema3/5.svg") 
  &:hover
    .crd_container__body
      h5
        color: #000 !important
      p 
        color: #000 !important
    &::before
      background-image: url("../assets/curso/images/tema3/1.svg")    
  &__body
    position: relative
    padding: 0rem
    text-align: center

  @media (max-width: 412px)
    background-repeat: no-repeat
    background-size: 100%
    height: 750px !important
    margin-bottom: -250px !important

  @media (max-width: 576px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important

  @media (max-width: 768px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    width: 100% !important
    margin-bottom: 50px !important
    font-size: 16px !important
    text-align: center !important


  @media (max-width: 992px)
    position: relative
    display: flex 
    flex-direction: column  
    align-items: center 
    padding: 15px !important
    font-size: 10px


  
.jumbotron-11
  position: relative
  display: flex 
  flex-direction: column  
  align-items: center 

  &::before
    content: ""
    position: absolute
    bottom: 0
    width: 100%
    height: calc(100% - 60px)
    background-size: contain
    background-repeat: no-repeat
    background-image: url("../assets/curso/images/tema3/2.svg") 
    color: #000
  &:hover
    .crd_container__body
      h5
        color: #000 !important
      p 
        color: #000 !important
    &::before
      background-image: url("../assets/curso/images/tema3/1.svg")      
  &__body
    position: relative
    padding: 0rem
    text-align: center

  @media (max-width: 412px)
    background-repeat: no-repeat
    background-size: 100%
    height: 750px !important
    margin-bottom: -250px !important

  @media (max-width: 576px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    margin-top: -200px !important

  @media (max-width: 768px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    width: 100% !important
    margin-top: -360px
    margin-top: -100px !important
    font-size: 16px !important
    text-align: center !important

  @media (max-width: 992px)
    position: relative
    display: flex 
    flex-direction: column  
    align-items: center
    padding: 15px !important
    font-size: 10px


.jumbotron-12
  position: relative
  display: flex 
  flex-direction: column  
  align-items: center 

  &::before
    content: ""
    position: absolute
    bottom: 0
    width: 100%
    height: calc(100% - 60px)
    background-size: contain
    background-repeat: no-repeat
    background-image: url("../assets/curso/images/tema3/3.svg") 
    color: #000
  &:hover
    .crd_container__body
      h5
        color: #000 !important
      p 
        color: #000 !important
    &::before
      background-image: url("../assets/curso/images/tema3/1.svg")      
  &__body
    position: relative
    padding: 0rem
    text-align: center
  
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-size: 100%
    height: 750px !important
    margin-bottom: -250px !important
    
  @media (max-width: 576px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    margin-top: -200px !important

  @media (max-width: 768px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    width: 100% !important
    margin-top: -100px !important
    font-size: 16px !important
    text-align: center !important

  @media (max-width: 992px)
    position: relative
    display: flex 
    flex-direction: colum
    padding: 20px !important
    font-size: 10px


.jumbotron-13
  position: relative
  display: flex 
  flex-direction: column  
  align-items: center 

  &::before
    content: ""
    position: absolute
    bottom: 0
    width: 100%
    height: calc(100% - 60px)
    background-size: contain
    background-repeat: no-repeat
    background-image: url("../assets/curso/images/tema3/4.svg") 
    color: #000
  &:hover
    .crd_container__body
      h5
        color: #000 !important
      p 
        color: #000 !important
    &::before
      background-image: url("../assets/curso/images/tema3/1.svg")      
  &__body
    position: relative
    padding: 0rem
    text-align: center
  
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-size: 100%
    height: 750px !important

  @media (max-width: 576px)
    background-repeat: no-repeat
    background-size: cover
    height: 750px !important
    margin-top: -200px !important

  @media (max-width: 768px)
    background-repeat: no-repeat
    background-size: cover 
    height: 750px !important
    width: 100% !important
    margin-top: -100px !important
    font-size: 16px !important
    text-align: center !important
    
  @media (max-width: 992px)
    position: relative
    display: flex 
    flex-direction: colum
    padding: 15px !important
    font-size: 10px


.horizontal-scroll
    align-items: stretch!important

.tarjeta_white-1
  background-color: white
  width: 100% 
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 2px 10px -3px rgba(179,179,179,1)
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  background-size: contain !important
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 768px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 576px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 397px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important

.tarjeta_white-2
  background-color: white
  width: 100% 
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 2px 10px -3px rgba(179,179,179,1)
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  background-size: contain !important
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 768px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 576px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important
  @media (max-width: 397px)
    background-repeat: no-repeat
    background-color: white
    width: 100% !important

.tarjeta_grey-1
  background-color: #B0C0D2
  width: 100%
  box-shadow: 2px 4px 8px #cdcdcd
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  background-size: contain !important
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-repeat: no-repeat
    background-color:#B0C0D2
    width: 100% !important
  @media (max-width: 768px)
    background-repeat: no-repeat
    background-color: #B0C0D2
    width: 100% !important
  @media (max-width: 576px)
    background-repeat: no-repeat
    background-color: #B0C0D2
    width: 100% !important
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-color: #B0C0D2
    width: 100% !important
  @media (max-width: 397px)
    background-repeat: no-repeat
    background-color: #B0C0D2
    width: 100% !important

.tarjeta-avatar > img 
  position: absolute
  left: 46%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 150px
  margin: 0 auto


.fondo-1
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-2
  background-image: url('../assets/curso/images/tema2/back_2.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-3
  background-image: url('../assets/curso/images/tema2/back_3.svg')
  background-size: cover
  background-repeat: no-repeat

.fondo-4
  background-image: url('../assets/curso/images/tema1/back.svg')
  background-size: cover
  background-repeat: no-repeat

.slyder-a__tipo-a .slyder-a__btn--atrs 
  transform: translateY(-50%) rotate(90deg)
  left: 0px

.slyder-a__tipo-a .slyder-a__btn--sigt 
  transform: translateY(-50%) rotate(-90deg)
  right: -5px



.slyder-a__bullets__item
   background-color: #dcdcdc
.slyder-a__bullets__item--active
   background-color: #9a9a9a !important


.horizontal-scroll
  align-items: stretch!important

.tableizer-firstrow-1
  background-color: #C9C9C9

.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
    border-left-color: currentcolor
  border-left-color: #A3314F
  background-color: #e8e8e8

.linea-tiempo-d.color-secundario.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: #CEDDED
      color: $color-sistema-texto
    .linea-tiempo-d__item__content
      background-color: #EFEEEE
      color: #000

.linea-tiempo-d__item__content__title:hover 
  font-weight: 700
  background-color: #EFEEEE

.linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  font-weight: 700
  background-color: #CEDDED 

.linea-tiempo-d__item__content__title 
  display: flex
  align-items: center
  height: 63px
  cursor: pointer

.tarjeta--azul 
  background-color: #F3E4E8

.tarjeta--rosa 
  background-color: #FDF3DC

.m-right
  right: -40% !important

.color-tarjeta-slyder-2
  background-color: #EAECC0
  width: 100%
  background-size: contain !important
  background-repeat: no-repeat
  @media (max-width: 992px)
    background-repeat: no-repeat
    background-color:#EAECC0
    width: 100% !important
  @media (max-width: 768px)
    background-repeat: no-repeat
    background-color: #EAECC0
    width: 100% !important
  @media (max-width: 576px)
    background-repeat: no-repeat
    background-color: #EAECC0
    width: 100% !important
  @media (max-width: 412px)
    background-repeat: no-repeat
    background-color: #EAECC0
    width: 100% !important
  @media (max-width: 397px)
    background-repeat: no-repeat
    background-color: #EAECC0
    width: 100% !important

.tabs-a__tab
  background-color: #F7F8E9

.back-tab
  background-color: #F7F8E9

.th-1
  background-color: #A3314F

.th-2 
  background-color: #F6F6F6

.th-3
  background-color: #FFFF

  
.bt
  border-top: 15px solid #A3314F
  width: 800px

.text
  font-size: 13px

.text-1
  font-size: 16px

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  @media (max-width: 810px)
    width: 35px
    height: 35px

.slyder-a__bullets__item    
  @media (max-width: 810px)
    width: 10px
    height: 10px  
    margin: 0 3px   

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  @media (max-width: $bp-max-sm )
    width: 25px
    height: 25px  
      
.slyder-a__bullets__item    
  @media (max-width: $bp-max-sm )
    width: 10px
    height: 10px  
    margin: 0 3px     
    
.slyder-a__bullets__item--active
  background-color: $color-acento-botones !important
  border: 1px solid $color-acento-contenido
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: $color-secundario
.slyder-a__bullets__item
  background-color: $color-secundario
  border: 1px solid $color-primario
